#formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece4e4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece4e4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form > input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 9px 13px;
  flex-grow: 1;
}

form > button {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 9px 13px;
  background-color: #272424;
  color: white;
  margin-left: 10px;
}

form > button::before {
  content: "+";
}
